Repository sablier-labs/v1-protocol: changes, and which Codecov flags are due for each by the changed paths.
All: payroll, protocol

chore: update yarn.lock
  yarn.lock
Due: none

test(protocol): use the new chai plugin from dev-utils
  packages/protocol/test/setup.js
Due: protocol

refactor(protocol): switch from sol-coverage to solidity-coverage
  packages/protocol/.solcover.js
  packages/protocol/compiler.json
  packages/protocol/package.json
  packages/protocol/scripts/coverage.sh
  packages/protocol/scripts/profile.sh
  packages/protocol/scripts/test.sh
  packages/protocol/scripts/trace.sh
  packages/protocol/test/sablier/behaviors/CreateCompoundingStream.js
  packages/protocol/test/setup.js
  packages/protocol/truffle-config.js
Due: protocol

chore(protocol): fix versions of solidity-coverage and testrpc-sc
  packages/protocol/package.json
Due: protocol

test(protocol): use the web3 contract instead of truffle for some tests
  packages/protocol/scripts/test.sh
  packages/protocol/test/sablier/behaviors/CreateCompoundingStream.js
  packages/protocol/test/sablier/behaviors/CreateStream.js
Due: protocol

refactor(payroll): switch from sol-coverage to solidity-coverage (wip)
  packages/payroll/.openzeppelin/project.json
  packages/payroll/.solcover.js
  packages/payroll/compiler.json
  packages/payroll/contracts/Payroll.sol
  packages/payroll/package.json
  packages/payroll/scripts/coverage.sh
  packages/payroll/scripts/profile.sh
  packages/payroll/scripts/test.sh
  packages/payroll/scripts/trace.sh
  packages/payroll/test/payroll/Payroll.behavior.js
  packages/payroll/test/payroll/behaviors/CancelSalary.behavior.js
  packages/payroll/test/payroll/behaviors/CreateSalary.behavior.js
  packages/payroll/test/payroll/behaviors/WithdrawFromSalary.behavior.js
  packages/payroll/test/setup.js
  packages/payroll/truffle-config.js
Due: payroll

chore: add nohoist for @openzeppelin/contracts-ethereum-package
  package.json
Due: none

chore: add solidity-coverage files to .gitignore
  .gitignore
  yarn.lock
Due: none

docs: add @sablier/payroll package and fix typo in README
  README.md
Due: none

style: apply prettier
  README.md
  packages/payroll/.openzeppelin/project.json
Due: payroll

ci: add path fix to codecov.yml
  codecov.yml
Due: none

refactor(payroll): bring back GSN despite non-functional coverage
  packages/payroll/.solcover.js
  packages/payroll/contracts/Payroll.sol
  packages/protocol/.solcover.js
Due: payroll, protocol

docs: add missing yarn build command in README
  README.md
Due: none

ci: switch to coveralls instead of codecov
  packages/protocol/package.json
  packages/protocol/scripts/coverage.sh
Due: protocol

chore: upgrade solidity-coverage@0.7.0-beta.0
  packages/payroll/package.json
  packages/protocol/package.json
  yarn.lock
Due: payroll, protocol

chore: update coverage related scripts & configs
  .solcover.js
  packages/payroll/.solcover.js
  packages/payroll/scripts/test.sh
  packages/payroll/truffle-config.js
  packages/protocol/.solcover.js
  packages/protocol/scripts/test.sh
  packages/protocol/truffle-config.js
Due: payroll, protocol

chore: remove ethereumjs-testrpc-sc
  packages/payroll/package.json
  packages/protocol/package.json
Due: payroll, protocol

test: add networkId to ganache-cli in tests
  packages/payroll/scripts/test.sh
  packages/protocol/scripts/test.sh
Due: payroll, protocol

ci: switch to coveralls everywhere
  packages/payroll/package.json
  packages/payroll/scripts/coverage.sh
  packages/payroll/truffle-config.js
  packages/protocol/scripts/coverage.sh
  packages/protocol/truffle-config.js
  yarn.lock
Due: payroll, protocol

chore: remove coverage network from truffle-config
  packages/payroll/truffle-config.js
  packages/protocol/truffle-config.js
Due: payroll, protocol

ci: enable coverage for all packages
  .circleci/config.yml
  README.md
Due: none

ci: batch all reports with monorepo-wide paths via lcov-result-merger
  .circleci/config.yml
  README.md
  codecov.yml
  package.json
  packages/payroll/package.json
  packages/payroll/scripts/coverage.sh
  packages/protocol/package.json
  packages/protocol/scripts/coverage.sh
  yarn.lock
Due: payroll, protocol

chore(landing): change 'by the minute' to 'real-time'
  packages/landing/src/pages/Landing/index.jsx
Due: none

ci: switch back to coveralls
  .gitignore
  README.md
  codecov.yml
  package.json
Due: none

refactor(dev-utils): rename addBlockTimeAverage with tolerateByAddition
  packages/dev-utils/src/chaiPlugin.js
Due: none

build(protocol): add evilERC20 and nonStandardERC20 to trf migrations
  packages/protocol/migrations/2_deploy_token.js
  packages/protocol/migrations/2_deploy_tokens.js
Due: protocol

refactor(protocol): use NonStandardERC20 directly without a mock
  packages/protocol/contracts/mocks/ERC20Mock.sol
  packages/protocol/contracts/mocks/NonStandardERC20Mock.sol
  packages/protocol/contracts/test/EvilERC20.sol
  packages/protocol/contracts/test/NonStandardERC20.sol
Due: protocol

feat(protocol): add fix for cancelCompoundingStream
  packages/protocol/contracts/Sablier.sol
Due: protocol

test(protocol): write tests for the cancelCompoundingStream method
  packages/protocol/test/sablier/Sablier.behavior.js
  packages/protocol/test/sablier/Sablier.js
  packages/protocol/test/sablier/behaviors/Admin.js
  packages/protocol/test/sablier/behaviors/CancelCompoundingStream.js
  packages/protocol/test/sablier/behaviors/CancelStream.js
  packages/protocol/test/sablier/behaviors/WithdrawFromCompoundingStream.js
  packages/protocol/test/sablier/behaviors/WithdrawFromStream.js
Due: protocol

chore: update yarn.lock and .prettierignore
  .prettierignore
  yarn.lock
Due: none

fix(frontend): interval format bug
  packages/frontend/src/helpers/format-utils.js
Due: none

feat(protocol): use Exponential and CarefulMath instead of SafeMath
  packages/protocol/contracts/Sablier.sol
  packages/protocol/contracts/Types.sol
  packages/protocol/contracts/mocks/CERC20Mock.sol
  packages/protocol/contracts/test/EvilERC20.sol
Due: protocol

fix(dev-utils): set EXCHANGE_RATE_BLOCK_DELTA to 1e18
  packages/dev-utils/src/constants.js
Due: none

test(protocol): update tests for Exponential and CarefulMath
  packages/protocol/test/sablier/Sablier.behavior.js
  packages/protocol/test/sablier/behaviors/Admin.js
  packages/protocol/test/sablier/behaviors/CancelCompoundingStream.backup.js
  packages/protocol/test/sablier/behaviors/CreateCompoundingStream.js
  packages/protocol/test/sablier/behaviors/WithdrawFromCompoundingStream.js
Due: protocol

style(protocol): apply prettier and stringify some ints
  packages/protocol/test/sablier/Sablier.behavior.js
  packages/protocol/truffle-config.js
Due: protocol

feat(shared-contracts): initial commit
  packages/shared-contracts/README.md
  packages/shared-contracts/compound/CarefulMath.sol
  packages/shared-contracts/compound/ComptrollerErrorReporter.sol
  packages/shared-contracts/compound/EIP20Interface.sol
  packages/shared-contracts/compound/EIP20NonStandardInterface.sol
  packages/shared-contracts/compound/Exponential.sol
  packages/shared-contracts/compound/TokenErrorReporter.sol
  packages/shared-contracts/interfaces/ICERC20.sol
  packages/shared-contracts/mocks/CERC20Mock.sol
  packages/shared-contracts/mocks/ERC20Mock.sol
  packages/shared-contracts/package.json
  packages/shared-contracts/test/EvilERC20.sol
  packages/shared-contracts/test/NonStandardERC20.sol
Due: none

feat(dev-utils): change two constants values
  packages/dev-utils/src/constants.js
Due: none

refactor(protocol): delete compound, mocks and test contracts
  packages/protocol/contracts/compound/CarefulMath.sol
  packages/protocol/contracts/compound/ComptrollerErrorReporter.sol
  packages/protocol/contracts/compound/EIP20Interface.sol
  packages/protocol/contracts/compound/EIP20NonStandardInterface.sol
  packages/protocol/contracts/compound/Exponential.sol
  packages/protocol/contracts/compound/TokenErrorReporter.sol
  packages/protocol/contracts/interfaces/ICERC20.sol
  packages/protocol/contracts/mocks/CERC20Mock.sol
  packages/protocol/contracts/mocks/ERC20Mock.sol
  packages/protocol/contracts/test/EvilERC20.sol
  packages/protocol/contracts/test/Imports.sol
  packages/protocol/contracts/test/NonStandardERC20.sol
Due: protocol

feat(protocol): integrate compound
  packages/protocol/contracts/Sablier.sol
  packages/protocol/contracts/Types.sol
  packages/protocol/contracts/interfaces/IERC1620.sol
  packages/protocol/package.json
Due: protocol

test(protocol): add more tests for the compound integration
  packages/protocol/test/sablier/Sablier.behavior.js
  packages/protocol/test/sablier/admin/DiscardCToken.js
  packages/protocol/test/sablier/admin/TakeEarnings.js
  packages/protocol/test/sablier/admin/UpdateFee.js
  packages/protocol/test/sablier/admin/WhitelistCToken.js
  packages/protocol/test/sablier/behaviors/Admin.js
  packages/protocol/test/sablier/behaviors/CancelCompoundingStream.backup.js
  packages/protocol/test/sablier/behaviors/CancelCompoundingStream.js
  packages/protocol/test/sablier/behaviors/WithdrawFromCompoundingStream.js
  packages/protocol/test/sablier/effects/compoundingStream/CancelCompoundingStream.js
  packages/protocol/test/sablier/effects/compoundingStream/CreateCompoundingStream.js
  packages/protocol/test/sablier/effects/compoundingStream/WithdrawFromCompoundingStream.js
  packages/protocol/test/sablier/effects/stream/CancelStream.js
  packages/protocol/test/sablier/effects/stream/CreateStream.js
  packages/protocol/test/sablier/effects/stream/WithdrawFromStream.js
  packages/protocol/test/sablier/view/BalanceOf.js
  packages/protocol/test/sablier/view/BalanceWithoutInterestOf.js
  packages/protocol/test/sablier/view/DeltaOf.js
  packages/protocol/test/sablier/view/GetCompoundingStreamVars.js
  packages/protocol/test/sablier/view/GetStream.js
  packages/protocol/test/sablier/view/UnderlyingBalanceWithoutInterestOf.js
Due: protocol

Path conditions:
  payroll: any of: packages/payroll/
  protocol: any of: packages/protocol/
